
header{
    background-color:rgb(2,200,200);
}

header::after{
    content:"";
    display: table;
    clear: both;
}


nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    display: inline-block;
    margin-top: 2.2%;
    margin-left: 9%;
    position: relative;
}

nav a{
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover{
    color: black;
}

nav a::before{
    content: "";
    display: block;
    height: 1px;
    padding-bottom: 3px;
    width: 0%;
    background-color: #444;
    transition: all ease-in-out 200ms;
}

.stick{
    position: fixed;
    width: 100%;
    top: 0;
}
nav a:hover::before{
    width:100%
}

#logo, #Apre{
    font-family: "Lobster"
}

.size-intro{
    font-size: 40px;
}

.color-intro{
    color:#DADADA
}

.marg-intro1{
    margin-top: 10%;
    margin-left: 33%;
    margin-bottom:0;
}

.marg-intro2{
    margin-left: 33%;
}

#intro-text{
    font-size: 30px;
    font-family:"Pacifico";
    padding: 5%;
}

.row{
    margin:0;
    margin-left: 9%;