@import url('https://fonts.googleapis.com/css?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato|Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300|Lato:300,400|Poiret+One&display=swap');


body {background-size: cover;
background-color: #293f50;
  left: 0;
    top: 0;
}
header{
    position:running();
}

h1, h2, nav, .bloque1{

  height: auto;
}

h1{
    margin-left: 10em;
    font-family: 'Poiret One', cursive;
    font-size: 40px;
    letter-spacing: 0.1em;
    color:#ffff;
    padding-top: 0.3em;
    font-weight: normal;

}
h2{
    text-align: right;
    padding-right: 10em;
    font-size: 22px;
    font-family:'Josefin Sans', sans-serif;
    color:#648880;
    font-weight: normal;
    margin-top: -2.5em;
}

.nav1{
    text-align: right;
    padding-right: 12.5em;
    font-family:'Lato', sans-serif;
    padding-bottom: 1em;
    color: white;
}
a{
    text-decoration: none;
    padding-left: 0.4em;
    color: white;

}
a:hover{
    color:#648880
}
.bloque1, h3{
    text-align: center;
    font-size: 1.3em;
    margin-bottom: -0.7em;
    font-family:'Josefin Sans', sans-serif;
    color:#648880 ;
    font-weight: normal;
}

.centro{
    margin-left: 20em;
    width: 700px;
    font-size: 21px;
    line-height: 1.6em;
    margin-bottom: 1.8em;
    color: #e6e6e6
}

.button{
    border: solid 2px #ffffff;
    padding: 1.4% 1.5% 1.4% 1.5%;
    border-radius: 8px;
    margin-top: 1em;
    margin-bottom: 4em;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
}
 .button:hover{
     color: #648880;
     background-color: white;
 }


.bloque2{
    height: 100px;
    width: 100px;
    display: inline-block;
    padding: 5em;

}

img{
    height: 200px;
    width: 260px;
    border-radius: 10px;
}

.bloque3{
    margin-left: 14em;
    margin-right: 6em;
    padding-bottom: 3em;
    font-size: 19px;
    font-family:'Josefin Sans', sans-serif;

}

section{
align-content: center;
    margin-top: 6em;
    background-color: white;
    margin-left: -0.5%;
    margin-right:-0.5%;

}

p{
    width: 300px;
    font-size: 19px;
}

.enlace1{
    width: 300px;
    text-decoration: none;
    display: inline-flex;
    margin-top: 0.3em;
    font-size: 22px;
    font-family:'Josefin Sans', sans-serif;
    color: 	 #595959;
}

.enlace1:hover{
    color: #d9d9d9;
}

.c3{
    margin-top: -0.3em;
    color: #595959;
}

h4{
    font-family:'Lato', sans-serif;
    font-size: 14px;
    padding-left: 0.8em;
    color: #d9d9d9;
}

footer{
    width: 100%;
    height: 130px;

}

.nav2{
    text-align: right;
    font-family:'Josefin Sans', sans-serif;
    padding-right: 17em;
    font-size: 12px;

}
.c2{
    margin-top: -1em;
}

.rig{
    text-align: left;
    color: #d9d9d9;
    padding-left: 6em;
    padding-top: 2em;
    font-size: 13px;
}
