
body, header, img, section{
    margin: 0;
    border:0;
    padding: 0;
}


body{
    background-image: linear-gradient(#f5c000,#f5c000,#660000);
    height: 300vh;
    background-repeat: no-repeat;
}


header{
    height: 450px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;



}

header>div{
    width: 300px;
    height: 230px;
    background-image: url("Img/unnamed.jpg");
    background-size: contain;
    background-position: center;

}


/*img:hover{*/
/*    transform: scale(1.2);*/
/*}*/

a{
    text-decoration: none;
    /*border: yellowgreen 2px solid;*/
    padding: 0;
    display: block;
    text-align: center;
    width: 100px;
    height: 50px;
}

span{

    border:1px #f5c000 solid;
    padding:15px 30px;
    border-radius: 3px;
    font-size: 1.1rem;
    color:#f5c000;
}

span:hover{
    background-color: #f5c000;
    color:black
}

#contenido1{
    display:flex;
    /*height: 30vh;*/
    align-items: center;
   justify-content: space-evenly;

}

.hola-amor, .hola-titulo{
    border:2px solid red;
    height: 250px;
    width: 250px;
    margin: 3em 10px 1em 10px;

}

img{
    height: 450px;
    width: 350px;
}

.hola-amor{

    background-image: url("Img/fondoimagen.jpg");
    background-size: 250px 250px;
    background-position: center;
    background-repeat: no-repeat;

 }

.hola-amor:hover{
    transform: scale(1.1);
    filter: grayscale(100%);
}

.hola-titulo{
   justify-self: center;


}

h1{
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    margin: 80px auto;
    /*position: absolute;*/
    /*top:150px;*/
}
#contenido2{
    display: flex;
    justify-content: space-evenly;

}
#contenido2>div{
    /*border:solid blue 2px;*/
    /*text-align: center;*/
    /*width: 400px;*/
    height: 200px;
    font-size: 1.3rem;
    font-variant: small-caps;
    box-sizing: border-box;
    margin: 3em 30px;


}

#contenido2>:first-child{
    color: red;
   text-align: center;
    width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:3rem 45px;
}


#cont{
    width: 400px;
    border:none;
    border-top: 2px solid;
    text-align: justify;
    line-height: 1.4em;

}

#cont>p{
    border-bottom: 2px solid;
}

#contenido3{
   display: flex;
    justify-content: space-evenly;

}

#contenido3>div{
    border:2px hotpink solid;
    height: 460px;
    width: 360px;
}




/*#contenido3>:first-child{*/
/*    background-image: url("Img/hy.jpg");*/
/*    background-size: 360px 460px;*/
/*    background-repeat: no-repeat;*/
/*    background-position: center;*/

/*}*/

/*#contenido2{*/
/*    display: flex;*/
/*    border:2px crimson solid;*/
/*    flex-direction: column;*/
/*    justify-content: center;*/
/*    align-items: center;*/



/*}*/

/*#contenido2>div{*/
/*     border:2px solid blue;*/
/*    height: 200px;*/
/*    width: 300px;*/
/*    margin: 1em 2em;*/
/*}*/
