


h1, p{
    font-family: Serif, serif;


}

h2+p{
    font-family: sans-serif;
}

#italic:first-line{
    text-transform: uppercase;
    font-style: italic;
}

h4+p{
    letter-spacing: 0.5rem;
}

h1{
    text-shadow: 5px 5px 5px aqua;
}

a{
    text-decoration: none;
    color: limegreen;
}

h5+p{
    text-decoration: line-through;
}

h6+p{
    text-indent: 2rem;
}